<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  </connectionStrings>
    <appSettings>
        <add key="DBuProviderType.Default" value="DBu.DBuMongo" />
        <add key="DBuMongoConnectionString" value="mongodb://saber:saberM0ngo4U@localhost:27017" />
    </appSettings>
</configuration>